@import '../../assets/_variables.scss';

main{
    display: flex;
    justify-content: center;
    .containerChart{
        border-radius: 40px;
        margin-bottom: 50px;
        padding: 30px;
        &.light{
            background-color: $colorFondoNegro10;
        }
        &.dark{
            background-color: $colorFondoBlanco10;
        }
        .chartBox{
            background-color: $colorFondoBlanco;
            border-radius: 20px;
            margin-bottom: 50px;
            padding: 30px;
        }
    }
}

@media only screen and (max-width: 700px) {

    main{
        .containerChart{
            width: 100vw;
            padding: 20px;
            .chartHeader{
                display: flex;
                flex-direction: column;
                align-items: stretch;
            }
            .chartBox{
                padding: 0;
                overflow: hidden;
            }
        }
        
    }

}
