@import '../../assets/_variables.scss';

main{
    display: flex;
    justify-content: center;
    .containerList{
        width: 80vw;
        height: 500px;
        background-color: $colorFondoNegro10;
        border-radius: 40px;
        margin-bottom: 50px;
        .headerList{
            display: flex;
            justify-content: space-around;
            padding: 30px 20px;
            p{
                font-size: 18px;
                font-weight: 700;
                color: $colorFondoNegro;
                text-align: center;
            }
        }
        .itemList{
            display: flex;
            justify-content: space-between;
            padding: 20px 60px;
            p{
                font-size: 16px;
                font-weight: 500;
                color: $colorFondoNegro;
                text-align: center;
                font-style: italic;
            }
        }
    }
}